*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:arial;
    font-size: 12px;
}

@media (min-width: 400px) {
    body{
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body{
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    body{
        font-size: 22px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
header:before {
    background-image:url("./img/painting.png");
    background-size:305px;
    bottom: 0;
    content:"";
    filter: blur(3px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;   
}
  
.menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px;
}

a {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

.site-title, .site-subtitle {
    text-align:center;
    color: whitesmoke;
}
  
.site-subtitle {
    font-style: italic;
}

.site-title {
    font-size: 4em;
}

.img-portfolio {
    width: 180px;
    height: 180px;
}